/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: amazonFont-rg;
  src: url("./fonts/AmazonEmber_Rg.ttf");
}

@font-face {
  font-family: amazonFont-bd;
  src: url("./fonts/AmazonEmber_Bd.ttf");
}

@font-face {
  font-family: amazonFont-lt;
  src: url("./fonts/AmazonEmber_Lt.ttf");
}

body {
  font-family: amazonFont-rg;
  background-color: #e3e6e6;
}

.bg {
  width: 1500px;
  height: 600px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  margin-top: 100px;
  margin-left: 10px;
}

.nav-left {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.7em;
  flex-shrink: 0;
}

.nav-belt {
  height: 60px;
  width: 100vw;
  background-color: #131921;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
}

.nav-under__belt {
  width: 100vw;
  height: 40px;
  background-color: #232f3e;
}

.nav-logo {
  flex-shrink: 0;
  flex-grow: 0;
  padding-left: 1.1rem;
}

.nav-log_img {
  height: 29px;
  margin-top: 4px;
}

.nav-global-location-slot__txt {
  width: 50px;
  display: flex;
  flex-flow: column;
  color: white;
  line-height: 0.9rem;
}

span {
  white-space: nowrap;
}

.nav-global-location-slot__deliver {
  font-family: amazonFont-lt;
  color: lightgray;
  font-size: 0.75em;
}

.nav-global-location-slot__location {
  font-family: amazonFont-bd;
  font-size: 0.9em;
}

.nav-global-location-slot {
  display: flex;
  flex-flow: row nowrap;
  gap: 3px;
}

.nav-global-location-slot__ico {
  color: #fff;
}

.nav-mid {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-shrink: 1;
}

.dropdown__menu {
  display: none;
}

.nav__search {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  flex-grow: 1;
  flex-shrink: 1;
}

.nav__searchInput {
  height: 40px;
  flex-grow: 1;
  flex-shrink: 1;
}

.nav-dropdown__card {
  display: flex;
  width: 50px;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 235, 235);
  color: rgb(90, 90, 90);
  font-size: 12px;

  border-radius: 5px 0px 0px 5px;
}

.card__search-Label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.search-icon__container {
  height: auto;
  width: 45px;
  background-color: #f9bf73;
  color: #131921;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
}

.nav-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 3px;
}

.language__icon {
  display: flex;
  flex-flow: row nowrap;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}

.flag {
  height: 1rem;
  width: 1.5rem;
}

.langIcon__container {
  display: flex;
  align-items: flex-end;
  width: fit-content;
  margin-left: 1rem;
}

.signIn__link {
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  line-height: 10px;
  margin-left: 10px;
}

.signIn {
  font-size: 12px;
}

.account {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.orders {
  display: flex;
  flex-flow: column nowrap;
  color: #fff;
  margin-left: 10px;
}

.order__heading {
  font-size: 12px;
  margin-bottom: -1px;
}

.order {
  font-size: 14px;
  font-weight: 700;
}

.cart__container {
  display: flex;
  flex-flow: row nowrap;
  color: #fff;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
  padding-right: 20px;
  justify-content: center;
}

.cart__img {
  flex-shrink: 0;
  display: none;
}

.cart__image {
  background-image: url("https://i.ibb.co/dDRW9FL/cart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.nav-under__belt,
.under-belt__link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.under-belt__list {
  margin-left: -23px;
  display: flex;
  flex-flow: row nowrap;
  width: max-content;
  gap: 18px;
}

.under-belt__list li {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  list-style: none;
  color: #fff;
}

.nav-under__belt a {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
}

.space {
  width: 1500px;
  height: 250px;
}

@media screen and (max-width: 900px) {
  .nav__searchInput {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .cart__container {
    display: none;
  }

  .nav-under__belt a {
    display: none;
  }

  .nav-right {
    display: none;
  }

  .nav-mid {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 20px;
  }
}

.product__card {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.cards__container {
  display: flex;
  flex-flow: row wrap;
  height: 400px;
  width: 450px;
  background-color: #fff;
}

.card__item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
