/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: amazonFont-rg;
  src: url("./fonts/AmazonEmber_Rg.ttf");
}

@font-face {
  font-family: amazonFont-bd;
  src: url("./fonts/AmazonEmber_Bd.ttf");
}

@font-face {
  font-family: amazonFont-lt;
  src: url("./fonts/AmazonEmber_Lt.ttf");
}

body {
  /* font-family: amazonFont-rg; */
  background-color: #e3e6e6;
  font-family: amazonFont-rg, sans-serif;
  overflow-x: hidden;
}

.bg {
  width: 1500px;
  height: 600px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  margin-top: 100px;
  margin-left: 3rem;
}

.main__section {
  gap: 1rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.nav-left {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.7em;
  flex-shrink: 0;
}

.nav-belt {
  height: 60px;
  width: 100vw;
  background-color: #131921;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
}

.nav-under__belt {
  width: 100vw;
  height: 40px;
  background-color: #232f3e;
}

.nav-logo {
  flex-shrink: 0;
  flex-grow: 0;
  padding-left: 1.8rem;
}

.nav-log_img {
  height: 29px;
  margin-top: 4px;
}

.nav-global-location-slot__txt {
  width: 50px;
  display: flex;
  flex-flow: column;
  color: white;
  line-height: 0.9rem;
}

span {
  white-space: nowrap;
}

.nav-global-location-slot__deliver {
  font-family: amazonFont-lt;
  color: lightgray;
  font-size: 0.75em;
}

.nav-global-location-slot__location {
  font-family: amazonFont-bd;
  font-size: 0.9em;
}

.nav-global-location-slot {
  display: flex;
  flex-flow: row nowrap;
  gap: 3px;
}

.nav-global-location-slot__ico {
  color: #fff;
}

.nav-mid {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-shrink: 1;
}

.nav__search {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  flex-grow: 1;
  flex-shrink: 1;
}

.nav__searchInput {
  height: 40px;
  flex-grow: 1;
  flex-shrink: 1;
}

.nav-dropdown__card {
  display: flex;
  width: 50px;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 235, 235);
  color: rgb(90, 90, 90);
  font-size: 12px;

  border-radius: 5px 0px 0px 5px;
}

.card__search-Label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.search-icon__container {
  height: auto;
  width: 45px;
  background-color: #f9bf73;
  color: #131921;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
}

.nav-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 3px;
}

.language__icon {
  display: flex;
  flex-flow: row nowrap;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}

.flag {
  height: 1rem;
  width: 1.5rem;
}

.langIcon__container {
  display: flex;
  align-items: flex-end;
  width: fit-content;
  margin-left: 1rem;
}

.signIn__link {
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  line-height: 10px;
  margin-left: 10px;
}

.signIn {
  font-size: 12px;
}

.account {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.orders {
  display: flex;
  flex-flow: column nowrap;
  color: #fff;
  margin-left: 10px;
}

.order__heading {
  font-size: 12px;
  margin-bottom: -1px;
}

.order {
  font-size: 14px;
  font-weight: 700;
}

.cart__container {
  display: flex;
  flex-flow: row nowrap;
  color: #fff;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 700;
  margin-right: 25px;
  justify-content: center;
}

.cart__img {
  flex-shrink: 0;
  display: none;
}

.cart__image {
  background-image: url("https://i.ibb.co/dDRW9FL/cart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.nav-under__belt,
.under-belt__link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding-left: 10px;
}

.under-belt__list {
  margin-left: -25px;
  display: flex;
  flex-flow: row nowrap;
  width: max-content;
  gap: 18px;
}

.under-belt__list li {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  list-style: none;
  color: #fff;
}

.nav-under__belt a {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-right: 25px;
}

.space {
  width: 1500px;
  height: 250px;
}

.products__container {
  margin: auto;
  padding-left: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.product__card {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-start;
  height: 450px;
  width: 353px;
  background-color: #fff;
  padding-left: 20px;
  padding-top: 20px;
}

.cards__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 335px;
  width: 350px;
  overflow-x: hidden;
}

.card__item {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.card__item p {
  margin-left: 10px;
}

.card-img__container {
  margin-top: -30px;
  height: 109px;
  width: 174.8px;
  background-color: #fff;
  max-width: fit-content;
}

.item__img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}

.item__img.b {
  max-width: 90%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}

.card-img__container.b {
  width: 90%;
}

.item__name {
  font-size: 13px;
}

.item__heading {
  font-size: 20px;
  font-weight: 700;
}

.item__link {
  margin-top: -1rem;
  text-decoration: none;
  color: #007185;
  font-size: 13px;
}

.item__link:hover {
  text-decoration: underline;
  color: orange;
}

.card-img__container.slide {
  height: 310px;
  width: 300px;
  align-self: flex-start;
  margin-right: 35px;
}

.item__img.slide {
  height: 310px;
  object-fit: cover;
  display: block;
}

.signIn__tab {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 450px;
  width: 350px;
  float: right;
}

.signIn__tab-heading {
  width: 320px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
}

.signIn__tab__btn {
  background-color: #f7ca00;
  width: 280px;
  border-color: transparent;
  border-radius: 13px;
  font-size: 13px;
  font-weight: 100;
  padding: 4.5px;
}

.signIn__tab__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
  height: 150px;
  background-color: #fff;
  padding: 30px;
}

.signIn__tab-image__container {
  height: 450px;
  width: 350px;
}

.signIn__tab__Img {
  width: 100%;
  height: 100%;
  display: block;
}

.products__ruler {
  display: flex;
  flex-flow: column nowrap;
  width: fit-content;
  background-color: #fff;
  padding: 20px;
  gap: 7px;
}

.ruler__heading {
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}

.products.ruler__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 9px;
  flex-shrink: 1;
  margin: auto;
}

.ruler.image__container {
  display: flex;
  flex-shrink: 1;
}

.new__customer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #fff;
  padding: 30px 0px;
}

.customer__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 960px;
  height: 100px;
  padding: 30px 20px;
  gap: 3px;
  border-top: 1px #9d9b9b solid;
  margin-top: -20px;
}

.customer__recom {
  font-size: 13px;
}

.customer__signIn {
  max-width: 230px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 230px;
  display: block;
  background-position: -10px -170px;
  background-image: url(https://m.media-amazon.com/images/S/sash/vfqcwUkuArEiwD2.png);
  cursor: pointer;
  background-position: right -170px;
  display: block;
  height: 28px;
  position: relative;
  color: #000;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffe093;
  font-size: 13px;
  border: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  font-weight: 700;
}

.start_here {
  font-size: 12px;
  display: flex;
  flex-flow: row nowrap;
  gap: 6px;
}

.start__link {
  text-decoration: none;
  color: #007185;
  font-size: 12px;
}

.start__link:hover {
  text-decoration: underline;
  color: orange;
}

.back__top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 49px;
  background-color: #37475a;
  width: 100%;
}

.back__top:hover {
  cursor: pointer;
  background-color: #232f3e;
}

.back__top a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 13px;
}

footer {
  display: flex;
  flex-flow: column nowrap;
  background-color: #232f3e;
  height: 1118.7px;
}

.lists__container {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  margin-top: 3rem;
  gap: 2rem;
  justify-content: center;
}

.footer__links {
  display: flex;
  flex-flow: row wrap;
  max-width: fit-content;
  height: 318.36px;
  color: #e0dede;
  font-family: amazonFont-rg, sans-serif;
  margin: 0;
  flex-shrink: 0;
}

.footer__spacer {
  width: 100px;
  height: 318.36px;
  padding: 0px 10px;
}

.footer-links__title {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 5px;
}

.links__list {
  font-size: 14px;
  line-height: 180%;
}

.links__list li {
  list-style: none;
  width: fit-content;
}

.links__list li:hover {
  cursor: pointer;
}

.footer__line {
  width: 1006.4px;
  height: 0.8px;
  margin-top: 40px;
}

.footer__link-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  margin: 10px auto;
  padding: 20px 0px;
  color: #fff;
  gap: 0.5rem;
  font-size: 12px;
  border-top: 1px solid #9d9b9b;
}

.link-line__links {
  display: flex;
  flex-flow: row nowrap;
  gap: 6px;
  border: 1px solid #9d9b9b;
  border-radius: 3px;
  padding: 10px 20px;
}

.link-line__links.a {
  padding: 7px 20px;
}

.link-line__links span {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.link-line__logo img {
  flex-shrink: 0;
  flex-grow: 0;
  padding-right: 4.7rem;
  height: 25px;
  margin-top: 4px;
  cursor: pointer;
}

.reference {
  width: 100%;
  height: 100%;
  background-color: #131a22;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0px;
  font-size: 12px;
  line-height: 0.8rem;
}

.ref__table {
  display: flex;
}

tbody {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

td {
  width: 120px;
}

tr {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  gap: 2rem;
}

td a {
  color: #ecebeb;
  text-decoration: none;
}

td span {
  font-size: 10px;
  color: #8c8a8a;
}

td a:hover {
  text-decoration: underline;
}

.td__space {
  display: none;
  width: 30px;
  height: 120px;
}

.tr__space {
  display: none;
  width: 100%;
  height: 2px;
}

.end {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4rem;
  align-items: center;
  color: #e2e2e2;
}

.end-links__container {
  display: flex;
  gap: 0.9rem;
}

.end__link {
  text-decoration: none;
  color: #e2e2e2;
}

.end__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .nav__searchInput {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .cart__container {
    display: none;
  }

  .nav-under__belt a {
    display: none;
  }

  .nav-right {
    display: none;
  }

  .nav-mid {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 20px;
  }
}
